
Ratebeer.csv
Beeradvocate.txt
Ratebeer.txt
user_this_brewer_csv.csv

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# ignore pack files -- gigantic
/.git/objects/pack/*.pack
