<div>
  Here are the top 10 users with similar tastes in beer as you
</div>

<ul>
  <% @top_ten.each do |user| %>
    <li>
      <%= link_to User.find(user.last).profile_name, user_path(user.last) %>: <%= number_to_percentage(user.first * 100, precision: 0) %>
    </li>
  <% end %>
</ul>
