<section class="section show" id="home">
    <div class="row">
        <div class="large-6 medium-centered small-centered columns">
            <h1 class="head_title text-center">Hoppy Suds</h1>
            <h2 class="subhead_title text-center">A Programmatic Beer Experience </h2>
            <p class="text-center">AI bringing you machine learning based beer recommendations.</p>
        </div>
        <%= render 'layouts/search' %>
    </div>
</section>

