<div>
  This is a beer recommender. It is a based on a machine learning algorithm.
</div>

<div>
  Click <%= link_to "here", beers_path %> to see all our beers. We have <%= Beer.count %> of them through <%= Brewer.count %> brewers.
</div>
