/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

html, body {
  position: relative;
  height: 99%;
}

body {
  font-family:"Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #F15F5F;
  line-height: 1.4;
  margin-bottom: 0.8125rem;
  background: #f8f8f8;
}

.item {
  float:left;
  margin-right:10px;
  width:300px;
  height:700px;
  background-color: white;
  margin-top:10px;
  padding-left: 50px;
  color: black;
  font-size: 1.5em;
  position: relative;
}

.item .beer_info {
  width: 300px;
  padding-left: 0em;
  line-height: 30px;
  font-size: 0.8em;
  margin-left: -50px;
}

.item a:link {
  color: black;
}

.item:hover {
  background-color: #7f8c8d;
}

/*#cf6200    #ff9201    #ffb920
#fcecba    #fae24a    #beaf1b
#144d1a   */
.top-bar {
  background-color: #ffcc00;
}

.user {
  float:left;
  margin-right:10px;
  width:300px;
  height:650px;
  background-color: white;
  margin-top:10px;
  padding-left: 20px;
  color: black;
  font-size: 1.5em;
}

.user ul {
  font-size: 0.8em;
}
.user li {
  padding-left: 1.7em;
  margin-bottom: 5px;
  list-style: none;
  line-height: 30px;
  font-size: 1.0em;
}

/* heart for user list item beers */
.user li:before {
  content: "\2665";
  color: #FF6600;
  display: inline-block;
  margin-left: -1.7em; /*same as padding-left set on li*/
  padding-left: 10px;
  width: 1.5em;
  font-size: 1.5em;
}

.user a:link {
  color: black;
}

.user:hover {
  background-color: #7f8c8d;
}

.head_title {
  font-size: 4rem;
  color: black;
  font-family:"Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.subhead_title {
  font-size: 2rem;
  color: black;
  font-family:"Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.search_title {
  font-size: 1rem;
  color: black;
  font-family:"Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  padding-right: 50px;
  padding-left: 50px;
}

.copyright {
  color: black;
  font-family: "Lucida Console", Courier, monospace;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-size: 1rem;
  background: #ffcc00;
}


.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #000;
  .first {
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}

/* filled beer glass (from codepen.io)*/

#container {
  height: 370px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: -50px;
  width: 210px;
}

#container div { position: absolute; }

#beaker {
  border: 10px solid #f8f8f8;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 200px;

  bottom: 0;
  width: 200px;
}

#beaker:before,
#beaker:after {
  border: 10px solid #FFF;
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
  content: '';
  height: 30px;
  position: absolute;
  top: -40px;
  width: 30px;
}

#beaker:before { left: -50px; }
#beaker:after { right: -50px; }

#liquid {
  background-color: #edaf32;
  border: 10px solid #edaf32;
  border-radius: 0 0 20px 20px;
  bottom: 0;
  height: 200px;
  overflow: hidden;
  width: 180px;
}

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
}

#liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

@-webkit-keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 80px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 160px;
   }
}

.bubble1 {
  left: 10px;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms;
}

.bubble2 {
  left: 50px;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms;
}

.bubble3 {
  left: 100px;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms;
}

.bubble4 {
  left: 130px;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms;
}

.bubble5 {
  left: 170px;
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 800ms;
}

/* Foam */

.beer-foam {
  position: absolute;
  bottom: 200px;
}

.foam-1, .foam-2, .foam-3, .foam-4,
.foam-5, .foam-6, .foam-7 {
  float: left;
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fae7c2;
}
.foam-1 {
  top: -30px;
  left: -10px;
}
.foam-2 {
  top: -35px;
  left: 20px;
}
.foam-3 {
  top: -25px;
  left: 50px;
}
.foam-4 {
  top: -35px;
  left: 80px;
}
.foam-5 {
  top: -30px;
  left: 110px;
}
.foam-6 {
  top: -20px;
  left: 140px;
}
.foam-7 {
  top: -30px;
  left: 160px;
}

/* Drunk Text */

.animated {
  -webkit-animation-fill-mode:both;
     -moz-animation-fill-mode:both;
          animation-fill-mode:both;

  -webkit-animation-duration:5s;
     -moz-animation-duration:5s;
          animation-duration:5s;

  -webkit-animation-delay:3.5s;
     -moz-animation-delay:3.5s;
          animation-delay:3.5s;
}


.animated.drunk {
  -webkit-animation-duration:2s;
     -moz-animation-duration:2s;
          animation-duration:2s;
}

@-webkit-keyframes drunk {
  0% {
    -webkit-transform: rotate(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate(80deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(60deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  }

  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(700px);
    opacity: 0;
  }
}

@-moz-keyframes drunk {
  0% {
    -moz-transform: rotate(0);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -moz-transform: rotate(80deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  }

  40% {
    -moz-transform: rotate(60deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  }

  80% {
    -moz-transform: rotate(60deg) translateY(0); opacity: 1;
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  }

  100% {
    -moz-transform: translateY(700px);
    opacity: 0;
  }
}

@keyframes drunk {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1; transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}

.drunk {
  -webkit-animation-name: drunk;
  -moz-animation-name: drunk;
  animation-name: drunk;
}

/* for heart ratings */
#heart {
  color: #FF6600;
  font-size: 1.4em;
}

#blank_heart {
  content: "\2665";
  color: #F5DEB3;
  font-size: 1.4em;
}

.faves {
  float:left;
  /*margin-right: 10px;*/
  line-height: 75px;
  width: 300px;
  height: 75px;
  margin-left: -20px;
  padding-left: 20px;
  color: black;
  text-align: center;
  background-color: #87CEFA;
}

ul.three {
  margin-right: 10px;
  position: relative;
  top: -40px;
}

.beer_image {
  position: absolute;
  left: 37.5%;
  top: 125px;
}

.beer_title {
  float:left;
  margin-right: 10px;
  width:300px;
  height: 75px;
  margin-left: -50px;
  padding-left: 20px;
  color: black;
  text-align: center;
  background-color: #87CEFA;
}

.beer_label {
  position: absolute;
  bottom: 0px;
  float:left;
  margin-right: 10px;
  width: 300px;
  height: 100px;
  padding-left: 20px;
  color: black;
  text-align: center;
  background-color: #eee;
}

.expected {
  position: absolute;
  bottom: 150px;
}

a:visited {
  color: black;
}

.panel_expected {
  bottom: 5px;
}

.add_review {
  float: left;
  padding-left: 50px;
  color: black;
  width: 600px;
}

.review {
  color: black;
  float: left;
  padding-right: 100px;
}

.reviews {
  float: left;
  color: black;
}

.reviews_title {
  font-size: 1.5em;
}
