/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

html, body {
  position: relative;
  height: 99%;
}

body {
  font-family:"Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #F15F5F;
  line-height: 1.4;
  margin-bottom: 0.8125rem;
  background: #f8f8f8;
}

.item {
  float:left;
  margin-right:10px;
  width:300px;
  height:500px;
  background-color: white;
  margin-top:10px;
  padding-left: 50px;
  color: black;
}

.item a:link {
  color: black;
}

.item:hover {
  background-color: #7f8c8d;
}

/*#cf6200    #ff9201    #ffb920
#fcecba    #fae24a    #beaf1b
#144d1a   */
.top-bar {
  background-color: #ffcc00;
}

.user {
  float:left;
  margin-right:10px;
  width:300px;
  height:500px;
  background-color: white;
  margin-top:10px;
  padding-left: 50px;
  color: black;
}

.head_title {
  font-size: 4rem;
  color: black;
  font-family: "Lucida Console", Courier, monospace;
}

.subhead_title {
  font-size: 2rem;
  color: black;
  font-family:"Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.search_title {
  font-size: 1rem;
  color: black;
  font-family: "Lucida Console", Courier, monospace;
  padding-right: 50px;
  padding-left: 50px;
}

.copyright {
  color: black;
  font-family: "Lucida Console", Courier, monospace;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-size: 1rem;
  background: #ffcc00;
}


.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #000;
  .first {
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}
