/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

html, body {
  position: relative;
  height: 99%;
}

body {
  font-family:"Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #F15F5F;
  line-height: 1.4;
  margin-bottom: 0.8125rem;
  background: #f8f8f8;
}

.item {
  float:left;
  margin-right:10px;
  width:300px;
  height:500px;
  background-color: white;
  margin-top:10px;
  padding-left: 50px;
  color: black;
}

.item a:link {
  color: black;
}

.item:hover {
  background-color: #7f8c8d;
}

/*#cf6200    #ff9201    #ffb920
#fcecba    #fae24a    #beaf1b
#144d1a   */
.top-bar {
  background-color: #ffcc00;
}

.user {
  float:left;
  margin-right:10px;
  width:300px;
  height:500px;
  background-color: white;
  margin-top:10px;
  padding-left: 50px;
  color: black;
}

.subhead_title {
  font-size: 2rem;
  color: #F15F5F;
  font-family:"Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.head_title {
  font-size: 4rem;
  color: #F15F5F;
  font-family: "Lucida Console", Courier, monospace;
}

.search_title {
  font-size: 1rem;
  color: #F15F5F;
  font-family: "Lucida Console", Courier, monospace;
}

.copyright {
  color: #F15F5F;
  font-family: "Lucida Console", Courier, monospace;
}
